<center>
<h1>Добро пожаловать на форум ПФР!</h1>

<p>Переход к разделам форума:
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
<h2>Правила форума</h2>
</center>
<h4>Раздел 1. Общие положения</h4>
<p>Правила форума вводятся для создания комфортной и конструктивной атмосферы общения между участниками форума. Каждый участник форума несет полную ответственность за опубликованную им информацию на форуме.</p>
<p>Данные правила могут быть изменены или дополнены в силу возникновения обстоятельств, не рассмотренных в настоящих правилах.</p>
<p>Иерархия форума имеет структуру: Группа-Форум-Тема-Пост.</p>
<h4>Раздел 2. Порядок поведения на форуме</h4>
<ol>
  <li>Общение на форуме строится на принципах общепринятой морали и сетевого этикета.</li>
  <li>Строго запрещено использование нецензурных слов, брани, оскорбительных выражений, в независимости от того, в каком виде и кому они были адресованы. В том числе при подмене букв символами.</li>
  <li>Категорически запрещается любая реклама (за исключением случаев предварительного согласования с администрацией).</li>
</ol>
<h4>Раздел 3. Доступные права пользователей</h4>
<ol>
  <li>Пользователю доступно создание темы в форуме.</li>
  <li>Пользователю доступно редактирование названия созданной им темы в форуме.</li>
  <li>Пользователю не доступно удаление темы форума. Для удаления темы напишите Администрации Форума просьбу.</li>
  <li>Пользователю доступна публикация постов.</li>
  <li>Пользователю доступно редактирование собственных постов.</li>
  <li>Пользователю доступно удаление собственных постов.</li>
  <li>Пользователю доступно прикрепление к посту фалов.</li>
  <li>Пользователю доступно удаление прикрепленных к посту файлов.</li>
</ol>
<h4>Раздел 4. Темы и посты</h4>
<h5>4.1	Темы</h5>
<ol>
  <li>Перед созданием новой темы рекомендуется проверить, не обсуждалась ли она ранее, с помощью поиска. В общем случае, создание новой темы, повторяющей уже существующую, не запрещено, однако ее автору не следует удивляться, если его попросят воспользоваться поиском для получения ответа.</li>
  <li>Название темы должно быть информативным, максимально четко отражая смысл проблемы. Не создавайте темы с малопонятным содержанием. Данные темы, будут переименованы или удалены.</li>
  <li>Перед созданием новой темы убедитесь, что вы создаете ее в форуме соответствующей тематики. Если нужный форум отсутствует, напишите Администрации Форума просьбу о создании нового форума. Тема, которая находится в неподходящем форуме, может быть удалена модератором, без предупреждения.</li>
</ol>
<h5>4.2	Название темы</h5>
<p>Правило: название темы должно как можно более ясно отражать её суть. </p>
<p>Помните: каждый пользователь форума по названию темы должен догадаться, что он в ней увидит.</p>
<p>Запрещается:</p>
<ol>
  <li>Использование в качестве темы малосодержательных выражений, таких как: «Помогите!», «Срочно!», «Проблема!» и др.</li>
  <li>Частичное или полное написание названия темы заглавными буквами: «ЧТО ДЕЛАТЬ???».</li>
  <li>Использование большого количества сгруппированных знаков препинания: «Компьютер при загрузке зависает!!! Что делать??????».</li>
  <li>Украшательство названия темы различными символами: «..::Название темы::..».</li>
  <li>Использование названия темы, никак логически не связанного с вашим постом.</li>
</ol>
<h5>4.3	Посты</h5>
<ol>
  <li>Запрещается писать посты заглавными буквами.</li>
  <li>Старайтесь не делать грамматических ошибок в сообщениях. Сообщение содержащее большое количество грамматических ошибок расценивается как неуважение к другим участникам форума.</li>
  <li>Не стоит злоупотреблять цитатами. Нет необходимости полностью приводить предыдущее сообщение в своем ответе на него, просто процитируйте нужный фрагмент.</li>
  <li>Для оповещения модераторов о необходимости закрыть тему, можно отправить запрос модератору.</li>
  <li>Запрещается открыто выяснять друг с другом отношения, доказывать свою правоту.</li>
</ol>
<h5>Раздел 5. Виды наказаний за нарушения правил форума</h5>
<ol>
  <li>За незначительные нарушения следует устное предупреждение. При игнорировании замечания, пользователь теряет право оставлять посты на форуме (временно или навсегда) на усмотрение модератором.</li>
  <li>Отключение возможности писать сообщения на определенный срок. Срок устанавливается на усмотрение администратором или модератором.</li>
  <li>Бан участника. Аккаунт участника блокируется, доступ на форум отключается.</li>
</ol>
